.Rproj.user
.Rproj.user/
.Rhistory
.Rapp.history
.RData
*.RData
.RDataTmp
.Ruserdata
.DS_Store
*_cache/
/cache/
examples/Paper/example_paper.tex
examples/Paper/example_paper_files
examples/Slides/example_slides.tex
examples/Slides/example_slides_files
examples/FullProject/Paper/example_paper.tex
examples/FullProject/Paper/example_paper_files
examples/FullProject/Slides/example_slides.tex
examples/FullProject/Slides/example_slides_files
examples/FullProject/C_Temp/*
!examples/FullProject/C_Temp/.gitkeep
examples/FullProject/D_Out/*
!examples/FullProject/D_Out/.gitkeep
