.Rproj.user
.Rproj.user/
.Rhistory
.Rapp.history
.RData
*.RData
.RDataTmp
.Ruserdata
.DS_Store
A_Orig
C_Temp
D_Out
*_cache/
/cache/
examples/Paper/example_paper.tex
examples/Paper/example_paper_files
examples/Slides/example_slides.tex
examples/Slides/example_slides_files
examples/FullProject/Paper/example_paper.tex
examples/FullProject/Paper/example_paper_files
examples/FullProject/Slides/example_slides.tex
examples/FullProject/Slides/example_slides_files
