# R and RStudio
.Rproj.user
.Rproj.user/
.Rhistory
.Rapp.history
.RData
*.RData
.RDataTmp
.Ruserdata

# macOS
.DS_Store

# Quarto
**/*.quarto_ipynb
/.quarto/
/.luarc.json
.quarto
*_cache/
/cache/

# Nix
result

# Files that could get stored locally
A_Orig/*
!A_Orig/.gitkeep
C_Temp/*
!C_Temp/.gitkeep
D_Out/*
!D_Out/.gitkeep

# Binary outputs except project specific inputs
*.pdf
!bg.pdf
!Project_Titlepage.pdf