/.luarc.json
.Rproj.user
.Rproj.user/
.Rhistory
.Rapp.history
.RData
*.RData
.RDataTmp
.Ruserdata
.DS_Store
*_cache/
/cache/
result
Paper/example_paper.tex
Paper/example_paper_files
Slides/example_slides.tex
Slides/example_slides_files
C_Temp/*
!C_Temp/.gitkeep
D_Out/*
!D_Out/.gitkeep